.register-business-box {
  width: 650px ;
  margin: 5% auto;
  font-family: Roboto;
  .register-box-body {
    .section-heading {
      margin-bottom: 15px;
    }
    .Select {
      margin-bottom: 30px;
    }
  }
}
