{
  "sourceMaps": true,
  "presets": [
    ["es2015", { "modules": false }],
    "stage-0"
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-decorators-legacy",
    "transform-react-inline-elements",
    "transform-react-constant-elements",
    "transform-react-jsx"
  ]
}
