/*********************************** footer container **********************/
  .nav-footer {
    font-size: 0;

    .nav-lk {
      color: $color-white;

      &:hover {
        text-decoration: underline;
      }
    }

    .menu-item {
      display: inline-block;
      font-family: $font-family-headline;
      @include rem("font-size", 17);
      @include rem("line-height", 21);
      padding: 3px 11px;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .menu-select {
    color: $color-white;
    display: inline-block;
    position: relative;

    .hasCustomSelect {
      color: #b8bcbe;
      font-family: $font-family-headline;
      @include rem("font-size", 15);
      @include rem("line-height", 17);
      height: 100%;
      left: 0;
      @include opacity(0);
      position: absolute;
      top: 0;
    }
    .custome-select {
      font-family: $font-family-headline;
      @include rem("font-size", 12);
      @include rem("line-height", 13);
      visibility: visible;

      .icon-lf {
        display: inline-block;
        @include rem("font-size", 15);
        @include rem("line-height", 13);
        font-weight: 400;
        margin-right: 5px;
        margin-top: 5px;
        vertical-align: top;
      }
    }
  }

  .footer-lf {
    padding: 10px 10px 9px 0;
  }

  .footer-container {
    background-color: $color-grey-dark;
    clear: both;
    min-height: 30px;
    bottom: 0;
    height: 76px;
    left: 0;
    position: absolute;
    width: 100%;
    .bg-logo {
      background-size: cover;
      height: 54px;
      width: 130px;
    }
    .nav-footer {
      float: right;
      margin-left: 40px;
    }
    .footer-lf {
      display: table-cell;
    }
    .footer-rg {
      display: table-cell;
      vertical-align: middle;
    }
    .menu-select {
      display: none;
    }
    .wrap-container {
      display: table;
    }
  }
/********************************* footer container .end *******************/
