// |++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// |
// | Helper Classes
// |++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// Show & Hide
.show { display: block !important; }
.hide { display: none !important; }
.visible { visibility: visible !important; }
.invisible { visibility: hidden !important; }

// Inline & Block
.block { display: block !important; }
.inline { display: inline !important; }
.inline-block { display: inline-block !important; }

// Text
.text-normal { font-weight: 400 !important; }
.text-bold { font-weight: 700 !important; }
.text-semibold { font-weight: $font-semibold !important; }
.text-italic { font-style: italic !important; }
.align-left { text-align: left !important; }
.align-right { text-align: right !important; }
.align-center { text-align: center !important; }
.align-vertical {
  @include vertical-align();
  left: 0;
  position: absolute;
  width: 100%;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.margin-bottom-25 {
  margin-bottom: 25px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.margin-bottom-35 {
  margin-bottom: 35px !important;
}
.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}
.padding-bottom-20 {
  padding-bottom: 20px !important;
}
.padding-top-5 {
  padding-top: 5px !important;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.padding-top-15 {
  padding-top: 15px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}

.no-padding {
  padding: 0 !important;
}
.clear {
  clear: both;
  display: block;
}

.col-mobile-responesive {
  padding: 0 !important;
}
.disable-scroll {
  overflow: hidden !important;
  min-height: 0 !important;
  height: 100% !important;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

// text color
.text-violet {
  color: $color-violet-dark;
}
.text-grey {
  color: $color-grey;
}
.text-bold {
  font-weight: $font-bold;
}
.bg-grey {
  background-color: $color-bg-grey;
}
