.input-count-number {
  width: 101px;
  height: 33px;
  border: 1px solid #E6EAEE;
  border-radius: 4px;
  background-color: #FFF;
  .wrap-input-number:after {
    content: '';
    display: table;
    clear: both;
  }
  .next-value,
  .prev-value,
  .input-count-value {
    width: 33.333333333%;
    height: 33px;
    float: left;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 33px;
    text-align: center;
  }
  .next-value,
  .prev-value {
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .input-count-value {
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    height: 31px;
    border-top: none;
    padding: 3px 7px 0;
    border-bottom: none;
    outline: none !important;
  }
}