/***************** page  *******************/
.wrapper-container {
  height: 100%;
  min-height: 100%;
  padding-bottom: 76px;
  position: relative;
}

.wrap-container {
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 44px;
  width: 1250px;

  &:after,
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.wrapper {
  min-height: 100%;
}

.wrap-row {
  margin-left: -20px;
  margin-right: -20px;
}

.wrap-cols {
  padding-left: 15px;
  padding-right: 15px;
}

.fancy-rollovers,
.fancy-rollovers ul,
.head-action,
.nav-footer,
.social-nw-list,
.user-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  &:after,
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
/***************** page .end ***************/
/***************** layout has aside *****************/
.container-has-asibar {
  padding-top: 40px;

  .wrap-cols {
    box-sizing: border-box;
    flex-direction: column;
    display: -webkit-flex;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .aside-left-content {
    min-width: 210px;
    flex-basis: 25%;
    -webkit-flex-basis: 25%;
    width: 25%;
  }

  .main-content {
    flex-basis: 75%;
    -webkit-flex-basis: 75%;
    width: 75%;
  }

  .wrap-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
/***************** layout has aside .end *****************/
/*************** my booking page ***********************/
.list-booking-content {
  width: 100%;
}
/*************** my booking page .end *********************/
/*************** sigin page *********************/
.auth-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 792px;
  padding-bottom: 56px;
  padding-top: 40px;

  .link-more {
    color: $color-white;
    @include rem("font-size", 17);
    @include rem("line-height", 23);
    font-weight: $font-bold;
    margin-bottom: 22px;
    text-align: right;
    white-space: nowrap;

    .text-link {
      color: $color-violet-dark;
      text-decoration: underline;
    }
  }

  .auth-content {
    float: right;
    width: 400px;
  }

  &.signin-container {
    background-image: url("assets/images/bg-signin.jpg");
    padding-top: 126px;
  }

  &.signup-container {
    background-image: url("assets/images/bg-signup.jpg");
  }
}
/*************** siginpage .end *********************/
